@font-face {
    font-family: 'RetroComputerFont';
    src: url('assets/retro_computer.ttf') format('truetype');
}

.ship-name-p {
    position: absolute;
    left: 4px;
    top: -10px;
}

.ship-size-p {
    position: absolute;
    right: 4px;
    top: -10px;
}

#start-over {
    position: absolute;
    left: 634px;
    bottom: 10px;    
}

.win-lose {
    position: absolute;
    color: white;
    font-size: 100px;
    top: 0px;
}

.explosion {
    background-image: url('assets/explosion.jpg');
    background-size: cover;
    background-position: center;
}

.ship-image-div-overlay {
    position: absolute;
    height: 86px;
    width: 248px;
 
}

.red {
    background-color: rgb(255, 0, 0, 0.5);
}


body {
    background-image: url('assets/fleet-background.jpg');
    background-size: cover;
    width: 99vw;
    height: 97vh;
}

#entire {
    width: 1350px;
    height: 540px;
    display: flex;
}

#left-side-section {
    width: 90px;;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo-div {
    width: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 86px;
}

#main-section {
    width: 1300px;
    height: 550px;
    display: flex;
    align-items: center;
}

#info-panel {
    background-color: #1f1f1f;
    border-radius: 10px;
    border: solid 5px silver;
    width: 250px;
    height: 200px;
    margin-left: 50px;
    color: #298925;
    font-family: 'RetroComputerFont', sans-serif;
    font-size: 15px;
    text-align: center;
}

#shots-left {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 10px;
}

#gameboard {
    width: 460px;
    aspect-ratio: 1 / 1;
    background-image: url('assets/gameboard-background.png');
    background-size: cover;
    margin-right: 30px;
    margin-left: 30px;
    border: solid 7px silver;
    position: relative;
}

.row {
    height: 46px;
}

.square {
    display: inline-block;
    height: 44px;
    width: 44px;
    border: rgba(0, 0, 0, .4) solid 1px;
    position: relative;
}

#ship-panel {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border: solid 5px silver;
    width: 250px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font: arial;
}

.ship-image {
    height: 65px;
    margin-top: 10px;
}

.ship-image-div {
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 88px;
    border: solid 1px black;
    font-size: 13px;
}